name: markdown
version: 7.2.1

description: >-
  A portable Markdown library written in Dart that can parse Markdown into HTML.
repository: https://github.com/dart-lang/markdown
topics:
 - markdown

executables:
  markdown:

environment:
  sdk: ^3.1.0

dependencies:
  args: ^2.0.0
  meta: ^1.3.0

dev_dependencies:
  build_runner: ^2.0.5
  build_version: ^2.0.3
  build_web_compilers: ^4.0.0
  collection: ^1.15.0
  dart_flutter_team_lints: ^2.0.0
  html: ^0.15.0
  http: ^1.0.0
  io: ^1.0.0
  js: ^0.7.0
  path: ^1.8.0
  pool: ^1.5.1
  tar: ^1.0.3
  test: ^1.16.0
  yaml: ^3.0.0
