name: markdown
version: 0.5.0
author: Dart Team <misc@dartlang.org>
description: A library for converting markdown to HTML.
homepage: https://github.com/dpeek/dart-markdown
dev_dependencies:
  unittest: any
