name: markdown
version: 2.0.1-dev
author: Dart Team <misc@dartlang.org>
description: A library for converting markdown to HTML.
homepage: https://github.com/dart-lang/markdown

executables:
  markdown:

environment:
  sdk: '>=2.0.0-dev <2.0.0'

dependencies:
  args: '^1.0.0'
  charcode: '^1.1.0'

dev_dependencies:
  build_runner: ^0.8.2
  build_web_compilers: ^0.4.0
  collection: '^1.2.0'
  expected_output: '^1.1.0'
  html: '>=0.12.2 <0.14.0'
  js: '^0.6.1'
  path: '^1.3.1'
  test: '>=0.12.42 <2.0.0'
  yaml: '^2.1.8'
