name: markdown
version: 2.1.4-dev

description: A library for converting markdown to HTML.
homepage: https://github.com/dart-lang/markdown

executables:
  markdown:

environment:
  sdk: '>=2.2.0 <3.0.0'

dependencies:
  args: ^1.0.0
  charcode: ^1.1.0

dev_dependencies:
  build_runner: ^1.0.0
  build_version: ^2.0.0
  build_web_compilers: '>=1.0.0 <3.0.0'
  collection: ^1.2.0
  expected_output: ^1.2.1
  html: '>=0.12.2 <0.15.0'
  io: ^0.3.2+1
  js: ^0.6.1
  path: ^1.3.1
  pedantic: ^1.8.0
  test: ^1.2.0
  yaml: ^2.1.8
